<div class="clearfix" style="margin-bottom: 10px;"></div>
<div class="container-fluid">
    <div class="row">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" novalidate role="form" class="form-horizontal">
            <div class="form-group col-md-6">
                <label for="sowMetricIdSearchSelect" class="col-md-3" style="text-align: right;">Metric:</label>
                <select id="sowMetricIdSearchSelect" class="form-control col-md-9" style="width: 75%;" formControlName="sowMetricId"
                    (change)="onSowMetricSelectChanged($event.target.value)">
                    <option></option>
                    <option *ngFor="let metric of metrics;" [value]="metric.sowMetricId">{{metric.sowMetricDescription}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="stateSearchSelect" class="col-md-3" style="text-align: right;">State:</label>
                <select id="stateSearchSelect" class="form-control col-md-9" style="width: 75%;" formControlName="state"
                    (change)="onStateSelectChanged($event.target.value)">
                    <option></option>
                    <option *ngFor="let state of states" [value]="state.stateOfService">{{state.stateOfService}}</option>
                </select>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-md-6">
                <label for="masterIdSearchSelect" class="col-md-3" style="text-align: right;">Court:</label>
                <select id="masterIdSearchSelect" class="form-control" style="width: 75%;" formControlName="masterId">
                    <option></option>
                    <option *ngFor="let court of searchLists?.courts" [value]="court.masterId">{{court.masterId}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="fileTypeIdSearchSelect" class="col-md-3" style="text-align: right;">File Type:</label>
                <select id="fileTypeIdSearchSelect" class="form-control col-md-9" style="width: 75%;" formControlName="fileTypeId">
                    <option></option>
                    <option *ngFor="let fileType of searchLists?.fileTypes" [value]="fileType.fileTypeId">{{fileType.fileTypeId}}:
                        {{fileType.fileTypeName}}</option>
                </select>
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-md-6">
                <label for="courtTypeSearchSelect" class="col-md-3" style="text-align: right;">Court Type:</label>
                <select id="courtTypeSearchSelect" class="form-control col-md-9" style="width: 75%;" formControlName="courtType">
                    <option></option>
                    <option *ngFor="let courtType of searchLists?.courtTypes" [value]="courtType.courtType">{{courtType.courtType}}:
                        {{courtType.typeDescriptor}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="vendorIdSearchSelect" class="col-md-3" style="text-align: right;">Select Supplier:</label>
                <select id="vendorIdSearchSelect" class="form-control col-md-9" style="width: 75%;" formControlName="vendorId">
                    <option></option>
                    <option *ngFor="let supplier of searchLists?.suppliers" [value]="supplier.vendorId">{{supplier.businessName}}</option>
                </select>
            </div>
            <div class="clearfix"></div>
            <div style="margin-left: 15px;">
                <div class="col-md-6">
                    <button type="submit" [disabled]="searchForm.invalid" class="btn btn-primary">Search</button>
                    <!-- The button below is for development purposes only, for the Single Record Edit Feature -->
                    <button type='button' (click)='singleRecordEdit()' class="btn btn-success">Single Record Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>
