<div id="footer">
  <div style="float:left">
    <a name="copyrightnotice" href="http://www.lexisnexis.com/terms/copyright.aspx">Copyright ©</a>
    {{currentYear}} LexisNexis. All rights reserved.
  </div>
  <div style="float:left">
    &nbsp;&nbsp;
    <a name="termsandconditions" href="http://www.lexisnexis.com/terms/" target="_blank" title="Terms and Conditions">
      Terms & Conditions
    </a>
  </div>
  <div style="float:left">
    &nbsp;|&nbsp;
    <a name="privacypolicy" href="http://www.lexisnexis.com/en-us/terms/privacy-policy.page">
      Privacy Policy
    </a>
  </div>
  <div class="footer-environment-version" style="float:left">
    &nbsp;|&nbsp;
    {{ environment.name | uppercase }} | Ver {{ environment.version }}
  </div>
</div>
